.main_body {
  background-image: url("../images/uvodni_foto.jpg");
  background-size: 1200px;
}

.main_logo_img {
  display: block;
  width: 300px;
  margin: auto;
}

.main_menu {
  padding: 0;
  font-family: "Roboto Flex", sans-serif;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto 0;
  justify-content: space-between;
}

.main_menu_link {
  text-decoration: none;
  color: black;
  line-height: 2;
  font-size: 20px;
  font-weight: 600;
}

.main_main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 820px) {
  .main_menu {
    flex-direction: row;
    justify-content: space-around;
    width: 700px;
    height: auto;
  }
}
@media screen and (min-width: 1100px) {
  .main_logo_img {
    width: 500px;
  }

  .main_menu_link {
    font-size: 20px;
  }

  .main_menu {
    width: 900px;
  }
}
.headline_1,
.headline_2,
.text {
  font-family: "Roboto Flex", sans-serif;
  text-align: center;
}

.headline_1 {
  font-size: 26px;
  margin: 20px 0;
}

.headline_2 {
  font-size: 20px;
  margin: 60px 0 20px;
}

.text {
  font-size: 18px;
  width: 90%;
  margin: 0 auto 30px;
}

@media screen and (min-width: 820px) {
  .headline_1 {
    margin: 40px 0;
  }
}
@media screen and (min-width: 1100px) {
  .headline_1 {
    margin: 50px 0;
  }

  .headline_2 {
    margin: 60px 0 30px;
  }
}
.logo {
  padding: 6% 0 4%;
  margin-bottom: 15px;
  background-image: url("/images/uvodni_foto.jpg");
  background-size: cover;
  text-align: center;
  border-bottom: 1px solid #cacaca;
}

.logo_img {
  width: 70%;
}

.checkbox {
  position: absolute;
  left: -9999px;
}

.toggler {
  font-family: "Roboto Flex", sans-serif;
  margin: 10px;
  font-size: 18px;
}

.menu {
  font-family: "Roboto Flex", sans-serif;
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
  background-color: #cacaca;
  display: none;
}

.menu_li {
  border-bottom: 1px solid white;
}

.menu_link {
  text-decoration: none;
  display: block;
  padding: 10px 30px;
  color: black;
  font-size: 18px;
}

.menu_link:hover {
  background-color: #9d9d9d;
  color: white;
}

.checkbox:checked ~ .menu {
  display: block;
}

@media screen and (min-width: 820px) {
  .toggler {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .logo_img {
    width: 50%;
  }

  .logo {
    padding: 4% 0 2%;
    margin: 0;
    border-bottom: none;
  }

  .menu_li {
    border-bottom: none;
  }

  .nav {
    background-color: #cacaca;
  }

  .menu_link {
    font-size: 14px;
    padding: 10px 20px;
  }
}
@media screen and (min-width: 1100px) {
  .logo_img {
    width: 30%;
  }

  .logo {
    padding: 4% 0 2%;
  }
}
.footer {
  background-color: #cacaca;
  font-family: "Roboto Flex", sans-serif;
  padding: 15px;
}

.footer_link {
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.footer_flex {
  display: flex;
  justify-content: space-evenly;
}

.footer_text {
  margin: 0;
  color: white;
}

.footer_text_name {
  text-align: center;
  margin: 20px 0 0 0;
  font-size: 12px;
  color: #9d9d9d;
}

@media screen and (min-width: 820px) {
  .footer_link {
    font-size: 14px;
  }

  .footer_flex {
    width: 30%;
    margin: auto;
  }
}
body {
  margin: 0;
  box-sizing: border-box;
}

.flex_images {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.foto {
  width: 90%;
  padding: 2.5px 5px;
  margin: auto;
}

.foto_omne,
.foto_prace,
.foto_kontakt {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.foto_david,
.foto_prace_1,
.foto_kontakt_1 {
  width: 60%;
}

.section_1::after,
.section_2::after {
  display: block;
  content: "";
  background-color: #cacaca;
  height: 1px;
  width: 80%;
  margin: auto;
}

@media screen and (min-width: 820px) {
  .foto {
    padding: 5px 20px;
  }
}
@media screen and (min-width: 1100px) {
  .flex_images {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .foto {
    width: 28%;
  }

  .flex_omne,
.flex_kontakt {
    width: 80%;
    display: flex;
    margin: auto;
  }

  .text_omne,
.text_kontakt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  .text_kontakt {
    margin-right: 20%;
  }

  .flex_prace {
    width: 90%;
    display: flex;
    margin: auto;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .text_prace {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section_1,
.section_2,
.section_3 {
    margin-bottom: 100px;
  }
}/*# sourceMappingURL=style.css.map */