@use 'colors';
@use 'fonts';

.footer{
    background-color: colors.$second-color;
    font-family: fonts.$main-font;
    padding: 15px;
    
}

.footer_link{
    list-style: none;
    text-decoration: none;
    color: colors.$main-color;
    font-size: 18px;
}

.footer_flex{
    display: flex;
    justify-content: space-evenly;
}

.footer_text{
    margin: 0;
    color: white;
}

.footer_text_name{
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 12px;
    color: colors.$third-color;
}



@media screen and (min-width: 820px) {

    .footer_link{
        font-size: 14px;
    }

    .footer_flex{
        width: 30%;
        margin: auto;
    }
}