@use 'colors';
@use 'fonts';

.footer{
    background-color: colors.$second-color;
    font-family: fonts.$main-font;
    padding: 15px;
    
}

.footer_link{
    list-style: none;
    text-decoration: none;
    color: colors.$main-color;
    font-size: 18px;
    padding: 2px 8px;
}



.link_facebook,
.link_instagram{
    --c: #8cbdbf;
    background-image:
      conic-gradient(from -135deg at 100%  50%, var(--c) 90deg, #0000 0),
      conic-gradient(from -135deg at 2.6em 50%, #0000 90deg, var(--c) 0);
    background-position:
      0 0,
      100% 0;
    background-size: 0% 200%;
    background-repeat: no-repeat;
    transition: background-size .8s, background-position 0s;
}


.link_facebook:hover,
.link_instagram:hover{
    background-size: calc(70% + .6em) 200%;
    background-position:
      0 100%,
      100% 100%;
    color: rgb(255, 255, 255);
    
}



.footer_flex{
    display: flex;
    justify-content: space-evenly;
}

.footer_text{
    margin: 0;
    color: white;
}

.footer_text_name{
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 12px;
    color: colors.$third-color;
}



@media screen and (min-width: 820px) {

    .footer_link{
        font-size: 14px;
    }

    .footer_flex{
        width: 30%;
        margin: auto;
    }
}