@use 'fonts';
@use 'colors';


.main_body{
    background-image: url("/obrazky/uvodni_foto.jpg");
    background-size: 1200px;
}

.main_logo_img {
    display: block;
    width: 300px;
    margin: auto;
    position: relative;
    top: 30%;
  }
  
.main_logo {
    height: auto;
  }

.main_menu{
    padding: 0;
    font-family: fonts.$main-font;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto 0;
    height: 250px;
    justify-content:space-between;
}

.main_menu_link{
    text-decoration: none;
    color: colors.$main-color;
    line-height: 2;
    font-size: 20px;
    font-weight: 600;
}

@media screen and (min-width: 820px) {

    .main_menu{
        flex-direction: row;
        justify-content: space-around;
        width: 700px;
        height: auto;
    }
}


@media screen and (min-width: 1100px) {

    .main_logo_img{
        width: 500px;
    }

    .main_menu_link{
        font-size: 20px;
    }

    .main_menu{
        width: 900px;
    }

}