@use 'colors'; 
@use 'fonts';
@use 'text-style'; 


.logo{
    padding: 6% 0 4%;
    margin-bottom: 15px;
    background-image: url("/images/uvodni_foto.jpg");
    background-size: cover;
    text-align: center;
    border-bottom: 1px solid colors.$second-color;
}

.logo_img{
    width: 70%;
}

.checkbox{
    position: absolute;
    left: -9999px;
}

.toggler{
    font-family: fonts.$main-font;
    margin: 10px;
    font-size: 18px;
}

.menu{
    font-family: fonts.$main-font;
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
    background-color: colors.$second-color;
    display: none;
    
}

.menu_li{
    border-bottom: 1px solid white;
    
}

.menu_link{
    text-decoration: none;
    display: block;
    padding: 10px 30px;
    color: colors.$main-color;
    font-size: 18px;
}


.second_o_mne,
.second_spolecenske_odevy,
.second_historicke_kostymy,
.second_jak_pracuji,
.second_kontakt{
    --c: #8cbdbf;
    background-image:
      conic-gradient(from -135deg at 100%  50%, var(--c) 90deg, #0000 0),
      conic-gradient(from -135deg at 2.6em 50%, #0000 90deg, var(--c) 0);
    background-position:
      0 0,
      100% 0;
    background-size: 0% 200%;
    background-repeat: no-repeat;
    transition: background-size 1s, background-position 0s;
}


.second_o_mne:hover,
.second_spolecenske_odevy:hover,
.second_historicke_kostymy:hover,
.second_jak_pracuji:hover,
.second_kontakt:hover{
    background-size: calc(70% + .6em) 200%;
    background-position:
      0 100%,
      100% 100%;
    color: rgb(255, 255, 255);
    
}


.checkbox:checked ~ .menu{
    display: block;
}



@media screen and (min-width: 820px) {

    .toggler{
        display: none;
    }
  
    .menu{
        display: flex;
        width: 75%;
        justify-content: space-around;
        margin: auto;
    }

    .logo_img{
        width: 50%;

    }

    .logo{
        padding: 4% 0 5%;
        margin: 0;
        border-bottom: none;
        position: relative;
    }

    .menu_li{
        border-bottom: none;
        
    }

    .nav{
        background-color: colors.$second-color;
        opacity: 0.75;
        position: absolute;
        width: 100%;
        bottom: 0;
        border-bottom: 5px solid $third-color;
    }

    .menu_link{
        font-size: 14px;
        padding: 10px 20px;
    }

    .second_o_mne,
    .second_spolecenske_odevy,
    .second_historicke_kostymy,
    .second_jak_pracuji,
    .second_kontakt{
        transition: background-size .8s;
    }



}




@media screen and (min-width: 1100px) {

    .logo_img{
        width: 30%;
    }


    .logo{
        padding: 4% 0 5%;
        
    }

    .menu{
        width: 60%;
    }
}