@use 'colors'; 
@use 'fonts'; 


.logo{
    padding: 6% 0 4%;
    margin-bottom: 15px;
    background-image: url("/obrazky/uvodni_foto.jpg");
    background-size: cover;
    text-align: center;
    border-bottom: 1px solid colors.$second-color;
}

.logo_img{
    width: 80%;
}

.checkbox{
    position: absolute;
    left: -9999px;
}

.toggler{
    font-family: fonts.$main-font;
    margin: 10px;
    font-size: 18px;
}

.menu{
    font-family: fonts.$main-font;
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
    background-color: colors.$second-color;
    display: none;
    
}

.menu_li{
    border-bottom: 1px solid white;
    
}

.menu_link{
    text-decoration: none;
    display: block;
    padding: 10px 30px;
    color: colors.$main-color;
    font-size: 18px;
}

.menu_link:hover{
    background-color: colors.$third-color;
    color: white;
}


.checkbox:checked ~ .menu{
    display: block;
}



@media screen and (min-width: 820px) {

    .toggler{
        display: none;
    }
  
    .menu{
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .logo_img{
        width: 50%;
    }

    .logo{
        padding: 4% 0 2%;
        margin: 0;
        border-bottom: none;
    }

    .menu_li{
        border-bottom: none;
        
    }

    .nav{
        background-color: colors.$second-color;
    }

    .menu_link{
        font-size: 14px;
        padding: 10px 20px;
    }

}




@media screen and (min-width: 1100px) {

    .logo_img{
        width: 30%;
    }


    .logo{
        padding: 4% 0 2%;
        
    }

}