---
layout: template.njk
---


<body>


      

        <div class="logo">

            <a href="/">
                <img src="../images/logo.svg" alt="logo" class="logo_img">
            </a>
        

        <nav class="nav">
            <input type="checkbox" class="checkbox" id="menu-checkbox">

            <label for="menu-checkbox" class="toggler">☰ Menu</label>
        
            <ul class="menu">
                <li class="menu_li"> <a class="menu_link second_o_mne" href="/o_mne">O mně</a> </li>
                <li class="menu_li"> <a class="menu_link second_spolecenske_odevy" href="/spolecenske_odevy">Společenské oděvy</a> </li>
                <li class="menu_li"> <a class="menu_link second_historicke_kostymy" href="/historicke_kostymy">Historické kostýmy</a> </li>
                <li class="menu_li"> <a class="menu_link second_jak_pracuji" href="/jak_pracuji">Jak pracuji</a> </li>
                <li class="menu_li"> <a class="menu_link second_kontakt" href="/kontakt">Kontakt</a> </li>
        
            </ul>
        </nav>


        </div>

    <main class="main">

    {{ content | safe }}

    </main>  

  <footer class="footer">

            <div class="footer_flex">

                <a href="https://www.facebook.com/dyzajner" class="footer_link link_facebook"> Facebook </a>
                <a href="https://www.instagram.com/dyzajner/" class="footer_link link_instagram"> Instagram </a>

            </div>

            <p class="footer_text_name">© 2022, Jana Kaletová</p>

        </footer>


      


</body>